<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaxmiEmi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.createdevicescreen.CreateDeviceActivity"
            android:exported="false"
            android:label="@string/title_activity_create_device"
            android:theme="@style/Theme.LaxmiEmi" />
        <activity
            android:name=".ui.actionresultscreen.ContactResultActivity"
            android:exported="false"
            android:label="@string/title_activity_action_result"
            android:theme="@style/Theme.LaxmiEmi" />
        <activity
            android:name=".ui.qrcodescreen.ScanQrActivity"
            android:exported="false"
            android:label="@string/title_activity_scan_qr"
            android:theme="@style/Theme.LaxmiEmi" />
        <activity
            android:name=".ui.devicescreen.DevicesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.devicedetailsscreen.DeviceDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profilescreen.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.videoplayerscreen.VideoPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.tokenbalancescreen.TokenBalanceActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.actionresultscreen.ResponseMapDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.trex.rexnetwork.domain.firebasecore.fcm.fcmrequestscreen.FcmResultActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.trex.rexnetwork.domain.firebasecore.fcm.fcmrequestscreen.FcmRequestActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.loginscreen.OtpVerifyActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.loginscreen.OtpSendActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ui.PayloadReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.trex.laxmiemi.ACTION_PAYLOAD_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel" />

        <service
            android:name="com.trex.rexnetwork.domain.firebasecore.fcm.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service
            android:name="com.trex.rexnetwork.domain.firebasecore.fcm.ForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>